.container{
    border: 2px solid blueviolet;
    height: 1100px;
   
}
.child-1{
    height: 550px;
    border: 2px solid red;
   position: relative;
}
.child-2{
 height: 550px;
    border: 2px solid red;
 
}
.sub-child-1{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-2{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-3{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-4{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}


img{
    width: 100%;
    height: 400px;
}
p{
    text-align: center;
    
}
.sub-child-5{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-6{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-7{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
}
.sub-child-8{
    display: inline-block;
    width: 370px;
    height: 400px;
    border: 2px solid yellow;
   
}