
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.container{
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top:0px;
    left: 0px;
}
.parent1{
    width:500px;
    display: flex;
    justify-content: space-between;  
}
.parent2{
    margin-right: 30px;
}
.bi-caret-down-fill{
    font-size: 14px;
}
.below{
    width:100%;
    height: 1500px;
    position: absolute;
    top:0px;
    left: 0px;
}
img{
    width: 100%;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para h3{
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.para p{
    color: grey;
}
.pcont{
    width:800px;
}
.pcont p{
    color:black;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: justify;
}
.trioimg{
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.trio{
    width: 180px;
}
.trio p{
    color: black;
    font-size: 14px;
    text-align: center;
}