.container{
    height: 500px;
    width: 350px;
     border: 5px solid black;
border-radius: 30px;
margin-left: 500px;
background-color: lightgoldenrodyellow;
overflow: scroll;
scrollbar-width: none;
position: fixed;

}
.header{
    height: 80px;
    width: 350px;
    background-color: greenyellow;
    border-radius: 20px 20px 0 0;
    position: fixed;

}

    i{
        font-size: 28px;
        padding: 2px;
        display: inline-table;
        padding: 5px;
       
    }
  .dp{
    border:2px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius:50% ;
    margin-top: 15px;

  }
  img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  h5{
    background-color: red;
    display: inline-block;
position: relative;
top: -10px;
margin-left: 20px;
  }
  .child-1{
    height: 340px;
  position: relative;
    bottom: -80px;
    overflow: scroll;
scrollbar-width: none;
    
  

  }
  .date{
    background-color: lightseagreen;
    display: inline-block;
    margin-left: 40%;
    position: sticky;
    top: 20px;
    
  }
  .person1 p{
    background-color:white;
    display: inline-block;
   position: static;
   top: 20px;
   
    
  }
  .person2 p{ 
    background-color: solid black;
  text-align: right;
  position: relative;
  
   
    
}
.statusbar{
  border: 5px  ;
  height: 80px;
  width: 350px;
  background-color: lightgreen;
  border-radius: 0 0 20px 20px;
  position: relative;
 bottom: -80px;
}